* {
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  height: 100%;
}
.page {
  top: 40%;
  left: 20%;
  display: block;
  position: fixed;
  .title {
    font-size: 2em;
    text-align: center;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: red;
        text-decoration: none;
        transition: color linear 0.1s;
        -webkit-transition: color 0.1s;
      }
    }
  }
  .navigation {
    text-align: center;
    text-decoration: none;
    a {
      color: rgb(30,30,30);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.stage {
  top: 31%;
  left: 47%;
  z-index: -1;
  display: block;
  position: fixed;
}
//@media only screen and (max-device-width : 640px) {
//  .title {
//    position: relative;
//    text-align: center;
//    font-size: 2em;
//    color: pink;
//    a {
//      color: black;
//      text-decoration: none;
//    }
//  }
//}
//@media only screen and (max-device-width: 768px) {
//  .title {
//    position: relative;
//    text-align: center;
//    margin-top: 17%;
//    font-size: 1em;
//    a {
//      color: black;
//      text-decoration: none;
//    }
//  }
//}
