.title {
  color: black;
  text-align: center;

  font-size: 2em;
}

.title h2 {
  top: -2.5em;
  position: relative;
  visibility: hidden;

  font-size: 0.5em;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  transition-timing-function: linear;
  color: red;
  text-decoration: none;
}

/* for index2.html */
.title img {
  position: relative;
  top: -1.2em;
}

.title iframe {
  position: relative;
  height: 400px;
  width: 400px;
  top: -1.2em;
  margin: 0;
  padding: 0;
  border-style: solid double dotted dashed;
}

#navbar {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

a {
  color: rgb(30, 30, 30);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  text-align: center;
  background-color: white;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes
movement {
  from { background-position: 0 0; }
  to { background-position: 100% 0 }
}

@keyframes movement {
  from { background-position: 0 0; }
  to { background-position: 100% 0 }
}
